table {
	&.table-hover tbody tr {
		&:hover {
			background-color: $body-bg;
		}
	}
	&.dataTable thead th {
		position: relative;
		background-image: none !important;
		cursor: pointer;
	
		&:focus {
			outline: 0;
		}
	
		&.sorting, &.sorting_asc, &.sorting_desc { 
			&:after {
				position: absolute !important;
				top: 12px !important;
				right: 8px !important;
				display: block !important;
			}
		}
		
		&.sorting {
			&:after {
				font-size: 0.8em !important;
				padding-top: 0.12em !important;
			}
		}
	
		&.sorting_asc {
			&:after {
				content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="none" stroke="rgb(134, 140, 151)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-sm text-dark icon-thick"><line x1="12" y1="5" x2="12" y2="19"></line><polyline points="19 12 12 19 5 12"></polyline></svg>') !important;
			}
		}
	
		&.sorting_desc {
			&:after {
				content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="none" stroke="rgb(134, 140, 151)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-sm text-dark icon-thick"><line x1="12" y1="19" x2="12" y2="5"></line><polyline points="5 12 12 5 19 12"></polyline></svg>') !important;
			}
		}
	}
}

	